.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .images-container {
    display: flex;
    overflow: hidden;
  }
  
  .image {
    flex: 0 0 auto;
    transition: transform 0.5s;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .image.active {
    flex: 0 0 auto;
  }
  