.bm-menu {
    background: white;
    font-size: 1.15em;
    padding: 2.5em 1.5em;
    height: 100%;
  }
  
  .bm-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
  }
  
  .bm-menu a:hover {
    color: #ff4141;
  }
  
  .login-button {
    background-color: #ff4141;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
  @media (max-width: 800px) {
    .bm-menu {
      padding: 1.5em;
    }
  
    .bm-menu a {
      font-size: 1em;
    }
  }
  