@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "poppins";
}
.gradeint{
    background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

}